<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do App</title>
</head>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<style>
    form {
    display: inline-block;
}
.form-group {
    text-align: center;
    padding-bottom: 25px;
}
#todo {
    margin: 0 auto;
    width: 500px;
}

a.close {
  float: right;
}


</style>
<body>
    <div class="form-group">
      <h1>To-Do <small>List</small></h1>
    <form role="form">
        <input type="text" class="form-control" placeholder="Your Task" name="task">
    </form>
    <button type="button" class="btn btn btn-primary">Add</button>
        </div>
        <div></div>
    <ul class="list-unstyled" id="todo"></ul>
</body>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
    $('button').click(function () {
        $('#todo').append("<ul>" + $("input[name=task]").val() + " <a href='#' class='close' aria-hidden='true'>&times;</a></ul>");
    });
    $("body").on('click', '#todo a', function () {
        $(this).closest("ul").remove();
    });
});
</script>
</html>